<div class="page" style="background-color: black; background-image: url(<%= cl_image_path('https://res.cloudinary.com/dacv2jb6y/image/upload/v1552580689/ai-artificial-intelligence-code-34676.jpg') %>)">
    <div class="overlay">
        <div class="text">
            <h1>Michael Eldred</h1>
            <h2>Full-Stack Developer</h2>
            <button>More Information</button>
        <div>
    </div>
</div>